body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.w3-content {
  max-width: 1200px;
}

/* Create a Parallax Effect */
.bgimg-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/background.jpg');
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 180px;
  }
}


.exten-main-button {
    right: 45px;
    top: 25px;
    font-size: 30px;
    line-height: 44px;
    background-color: darkseagreen;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    border: 2px solid white;
    border-radius: 9px;
    font-weight: bolder;
    position: fixed;
    z-index: 100;
}
.exten-main-button:hover{
  opacity: 0.6;
}

.exten-filter {
    position: fixed;
    right: 50px;
    top: 80px;
    text-align: center;
    padding: 10px;
    border: 3px solid white;
    background: darkseagreen;
    z-index: 99;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 7px 19px grey;
    text-shadow: 0px 2px 6px black;
}

.list-image {
  width: 50%;
}

.shop-item {
  border: 4px solid darkgray;
  width: 30%;
  margin: 1%;
}

.shop-item p{
  margin: 0px;
}

.extern-filter-0 {
    float: left;
    position: relative;
    left: 30px;
}

.extern-filter-5 {
    float: right;
    position: relative;
    right: 30px;
}

.extern-filter-slider::-webkit-slider-thumb {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    background-color: darkgreen;
}

.extern-filter-slider {
    -webkit-appearance: none;
    height: 5px;
}

.extern-filter-option {
    margin-bottom: 25px;
}
