#exten-item-page {
    background-color: darkseagreen;
    width: 97px;
    height: 30px;
    border-radius: 5px;
    color: white;
}

#exten-item-page p {
    text-align: left;
    font-weight: bolder;
    font-size: 24px;
    line-height: 31px;
    text-indent: 5px;
    margin-right: 5px;
}

#exten-item-page .fa {
    margin-top: 8.5px;
    margin-left: 1px;
}

#exten-item-page:hover {
    opacity: 0.6;
    cursor: pointer;
}

#exten-filter-header {
  border-bottom: 5px solid;
    width: 100%;
    margin-bottom: 18px;
    padding-bottom: 6px;
}

.exten-filter-scores {
  height: 412px;
}

.exten-filter .fa-star, .exten-filter .fa-star-half {
  color: #fb0;
}

.w3-ul li {
  list-style: none;
  color: white;
}

ul.w3-ul.w3-half {
    width: 45%;
    margin: 2% 2.5%;
}